html, body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.App .top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-right: .5px solid grey;
}


.App .top,
.App .bottom {
  height: 300px;
  width: 100%;
}

.App .top form {
  height: fit-content;
  background: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 300px;
  padding: 40px 10px;
  
}

.App .top form input {
  margin: 0 0 30px;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.95em;
}

.App .top form .btn {
  height: 40px;
  width: 200px;
  background: white;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.95em;
}

.App .top form .btn:hover {
  color: white;
  background: grey;
}

.App .top form .btn:focus {
  box-shadow: none;
  outline: none;
}

.App .top form .btn.widget-btn {
  margin-top: 15px;
  background: #232ABE;
  border: 1px solid #232ABE;
  color: #FFFFFF;
}

.App .bottom hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #101357;
    padding: 0;
    width: 40%;
    margin: auto;
    margin-top: 20px;

}

.App .top form .btn.widget-btn:hover {
  margin-top: 15px;
  background: #101357;
}

.App .bottom p {
  margin-top: 30px;
  color: #101357;
  font-size: 1.1em;
}

.sketch-1{
  display: block;
  max-width: 800px;
  max-height:500px;
  width: auto;
  height: auto;
  float: left;
  margin-left: 5%;
  /* margin-top: 10px; */
  border: 1px solid #101357;
}

.sketch-2{
  display: block;
  max-width: 800px;
  max-height:500px;
  width: auto;
  height: auto;
  float: right;
  margin-right: 5%;
  /* margin-top: 10px; */
  border: 1px solid #101357;
}

.item {
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
  
}

.item2 {
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:right;
}

.download-link {
  text-decoration: none;
  background-color: #232ABE;
  border: 1px solid #232ABE;
  color: #FFFFFF;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 7px;
  cursor: pointer;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: none;
}

.download-link:hover {
    background: #101357;
}

